
body{
    margin-top: 12%;
    background-image: url('../../assets/fondo.jpg')
}

#title{
  font-size: 3.5rem;
  text-shadow: 5px 1px 12px rgba(150, 150, 150, 1);
  
}


.container-row{
    background: #dc8191;
    box-shadow: 9px 10px 33px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 33px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 33px 1px rgba(0,0,0,0.75);
    opacity: 0.9;
    
}

.form{
    font-size: 1.5rem;
    font-weight: bold;  
    color: white;  

}

#btn-login{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    
}

#btn-login:hover{
    box-shadow: 4px 1px 33px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 1px 33px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 1px 33px -7px rgba(0,0,0,0.75);
}    

.form-input{
    font-size: 1.2rem;
    font-weight: 400;
    height: 3rem;
    border-radius: 15px
    
}

.nueva-cuenta{
    display: block;
    text-align: left;
    font-size: 1.2rem;
}