:root {
    --blanco: #ffffff;
    --rosa1: #FFE2E2;
    --rosa2: #FFC7C7;
    --gris1: #F6F6F6;
    --gris2: #333030;
    --negro: #000000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  }
  
  /* tags */

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh; 
    
}


/* id */  


#title{
  color:var(--rosa2) ;   
  font-size: 3.5rem;  
  
}

/* class */

.container-row{
    background: var(--gris1);
    box-shadow: 9px 10px 33px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 33px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 33px 1px rgba(0,0,0,0.75);
    opacity: 0.9;
    width: 65vw;
    
}

.form{
    font-size: 1.5rem;
    font-weight: bold;  
    color: var(--negro);
    width: 100%;  

}

.form-input{
    font-size: 1.2rem;
    font-weight: 400;
    height: 3rem;
    border-radius: 15px
    
}

.nueva-cuenta{   
    text-align: left;
    font-size: 1.2rem;        

}