:root {
  --blanco: #ffffff;
  --rosa1: #FFE2E2;
  --rosa2: #FFC7C7;
  --gris2: #333030;
  --gris1: #F6F6F6;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;  
  font-size: 62.5%; 
}

body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--rosa2);
}
h1 span {
  font-weight: 400;
}

h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/* Buttons */

.btn-primary{
  margin-top: 1.5rem;
  font-size: 1.4rem;
  background-color: var(--rosa2);
  color: var(--negro);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-style: none;
  padding: 0.8rem 0;
  
}

.btn-primary:hover{
  box-shadow: 4px 1px 33px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 1px 33px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 1px 33px -7px rgba(0,0,0,0.75);
  background-color: var(--rosa1);
  color: var(--negro);


}